/* Input.module.css */
.inputContainer {
  display: flex;
  flex-direction: column;
  position: relative;
}

.label {
  margin-bottom: 5px;
  font-size: 14px;
  color: var(--grey-color);
  width: fit-content;
}

.input {
  padding: 10px 40px 10px 15px;
  border: 1px solid #e6eaf5;
  border-radius: 5px;
  font-size: 14px;
  color: var(--grey-color);
  transition: border-color 0.3s;
  background-color: #fcfcff;
}

.input:focus {
  border-color: var(--primary-color);
  outline: none;
}

.inputIcon {
  position: absolute;
  right: 15px;
  bottom: 10px;
}
