.badge {
  padding: 5px 15px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  color: var(--white-color);
  border-radius: 5px;
  font-size: 14px;
  width: fit-content;
}
